<div class="modal modal-lg fade" id="legalModal" tabindex="-1" aria-labelledby="legalModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="legalModalLabel">Legal Info</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <small class="text-muted">
          &copy; 2025 Winnow Solutions, LLC. Winnow® is a service mark of Winnow Solutions, LLC. Orrick® and the Orrick logo designs are service marks of Orrick Herrington & Sutcliffe LLP and are used with permission from Orrick Herrington & Sutcliffe LLP. IMPORTANT: Winnow is a software product offered by Winnow Solutions, LLC, which is not engaged in the practice of law. Winnow is not legal advice or a substitute for legal advice from a licensed attorney. The purchase or use of Winnow does not establish an attorney-client relationship with Winnow Solutions, LLC or Orrick Herrington & Sutcliffe LLP.
          <ul class="list-inline list-unstyled mt-4">
              <li class="list-inline-item"><a href="https://www.winnow.law/terms-of-use">Terms of Use</a></li>
              <li class="list-inline-item"><a href="https://www.winnow.law/privacy-policy">Privacy &amp; Cookie Policy</a></li>
              <li class="list-inline-item"><a href="https://www.winnow.law/disclaimers">Disclaimers</a></li>
              <li class="list-inline-item"><a href="https://www.winnow.law/help">Help</a></li>
              <li class="list-inline-item"><a href="mailto:support@winnow.law">Contact Us</a></li>
          </ul>
        </small>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>