<div class="card mb-3">
    <div class="d-table table-sidebar-right w-100">
        <div class="d-table-row">
            <div class="d-table-cell">
                <h2>§ 1787.2</h2>
                <ol class="list-alpha">
                    <li>
                        <p>Within 30 days, or at a later reasonable time as specified in federal law or regulations, after receipt of a completed written application for credit, a creditor shall notify the applicant of its action on the application.</p>
                    </li>
                    <li>
                        <p>Each applicant denied credit shall be entitled to a statement of reasons for such action from the creditor. A creditor satisfies this obligation by:</p>
                        <ol class="list-decimal">
                            <li><p>Providing statements of reasons in writing as a matter of course to applicants denied credit; or</p></li>
                            <li><p>Giving written notification of credit denial which discloses:</p>
                                <ol class="list-roman">
                                    <li>
                                        <p>The applicant's right to a statement of reasons within 30 days after receipt by the creditor of a request made within 60 days after such notification; and</p>
                                    </li>
                                    <li>
                                        <p>The identity and address of the person or office from which the statement of reasons may be obtained.</p>
                                    </li>
                                </ol>
                            </li>
                        </ol>
                    </li>
                    <li>
                        <p>The statement of reasons may be given orally if the written notification advises the applicant of the right to have the statement of reasons confirmed in writing on written request.</p>
                    </li>
                    <li>
                        <p>A statement of reasons meets the requirements of this section only if it contains the specific reasons for the credit denial.</p>
                    </li>
                    <li>
                        <p>Where a creditor has been requested by a third party to make a specific extension of credit directly or indirectly to an applicant, the notification and statement of reasons required by this section may be made directly by such creditor, or indirectly through the third party, provided in either case that the identity of the creditor is disclosed.</p>
                    </li>
                    <li>
                        <p>For purposes of this section:</p>
                        <ol class="list-decimal">
                            <li>
                                <p>The term “applicant” means a natural person who applies for credit primarily for personal, family or household purposes.</p>
                            </li>
                            <li>
                                <p>The term “credit denial” means a denial or revocation of credit, a change in the terms of an existing credit arrangement, or a refusal to grant credit in substantially the amount or on substantially the terms requested. Such term does not include a refusal to extend additional credit under an existing credit arrangement where the applicant is delinquent or otherwise in default, or where such additional credit would exceed a previously established credit limit without a specific written application or written request for an increase in the credit limit.</p>
                            </li>
                            <li>
                                <p>The term “creditor” refers only to creditors who regularly extend, or arrange for the extension of, credit whether in connection with loans, sales of property or services, or otherwise.</p>
                            </li>
                        </ol>
                    </li>
                    <li>
                        <p>Nothing in this section shall be construed to limit any authority, derived from other provisions of law, of any state department or agency.</p>
                    </li>
                </ol>
            </div>
            <div class="d-table-cell">
                <em class="small text-muted">(Added by Stats. 1976, Ch. 1072.)</em>
            </div>
        </div>
    </div>
</div>
 