<div class="card mb-3">
    <div class="card-body d-flex align-items-center justify-content-between">
        <ul class="list-unstyled list-inline m-0">
            <li class="list-inline-item">
                <strong>Effective Date:</strong> Mar 20, 2021 - <em class="text-muted">Not Specified</em>
            </li>
        </ul>
    </div>
</div>

<div class="card mb-3">
    <div class="d-table table-sidebar-left w-100">
        <div class="d-table-row">
            <div class="d-table-cell">
                <span class="fw-bold">Jurisdiction</span>
            </div>
            <div class="d-table-cell">
                California
            </div>
        </div>
        <div class="d-table-row">
            <div class="d-table-cell">
                <span class="fw-bold">Definition</span>
            </div>
            <div class="d-table-cell">
                A natural person who applies for credit primarily for personal, family or household purposes.
            </div>
        </div>
        <div class="d-table-row">
            <div class="d-table-cell">
                <span class="fw-bold">Citation</span>
            </div>
            <div class="d-table-cell">
                <a href="{{ site.data.navigation.citation.link | relative_url }}">Cal. Civ. Code § 1787.2(e)(1)</a>
            </div>
        </div>
    </div>
</div>
