<div class="card mb-3">
    <div class="card-body d-flex align-items-center justify-content-between">
        <ul class="list-unstyled list-inline m-0">
            <li class="list-inline-item">
                <strong>Effective Date:</strong> Mar 20, 2021 - <em class="text-muted">Not Specified</em>
            </li>
        </ul>
    </div>
</div>

<div class="card mb-3">
    <div class="d-table table-sidebar-left w-100">
        <div class="d-table-row">
            <div class="d-table-cell">
                <span class="fw-bold">Jurisdiction</span>
            </div>
            <div class="d-table-cell">
                California
            </div>
        </div>
        <div class="d-table-row">
            <div class="d-table-cell">
                <span class="fw-bold">Citations</span>
            </div>
            <div class="d-table-cell">
                <a href="{{ site.data.navigation.citation.link | relative_url }}">Cal. Bus. & Prof. Code § 10232.5</a>, 
                <a href="{{ site.data.navigation.citation.link | relative_url }}">Cal. Bus. & Prof. Code § 10231.2</a>
            </div>
        </div>
        <div class="d-table-row">
            <div class="d-table-cell">
                <span class="fw-bold">Trigger</span>
            </div>
            <div class="d-table-cell">
                When a real estate broker, through express or implied representations that the broker or any salesperson acting on the broker's behalf is soliciting borrowers or lenders for or negotiating loans or collecting payments or performing services for borrowers or lenders or note owners in connection with loans secured directly or collaterally by liens on real property, proposes to solicit and accept funds, or to cause the solicitation and acceptance of funds, to be applied to a purchase or loan transaction in which the broker will directly or indirectly obtain the use or benefit of the funds other than for commissions, fees, and costs and expenses as provided by law for the broker's services as an agent. <a href="{{ site.data.navigation.citation.link | relative_url }}">Cal. Bus. & Prof. Code §§ 10231.2(a)</a> - (b), <a href="{{ site.data.navigation.citation.link | relative_url }}">Cal. Bus. & Prof. Code § 10131(d)</a>.
            </div>
        </div>
        <div class="d-table-row">
            <div class="d-table-cell">
                <span class="fw-bold">Requirement Text</span>
            </div>
            <div class="d-table-cell">
                <p>The broker must deliver, or cause to be delivered, to the person solicited, the applicable completed statement, which includes, but is not limited to, the following information:</p><ul>
                <li><p>Address or other means of identification of the real property that is to be the security for the borrower's obligation;</p></li>
                <li><p>Estimated fair market value of the securing property as determined by an appraisal, a copy of which must be provided to the lender. However, a lender may waive the requirement of an independent appraisal in writing, on a case-by-case basis, in which case, the real estate broker must provide the broker's written estimated fair market value of the securing property, which includes the objective data upon which the broker's estimate is based;</p></li>
                <li><p>Age, size, type of construction, and a description of improvements to the property if contained in the appraisal or as represented to the broker by the prospective borrower;</p></li>
                <li><p>Identity, occupation, employment, income, and credit data about the prospective borrower or borrowers as represented to the broker by the prospective borrower or borrowers;</p></li>
                <li><p>Terms of the promissory note to be given to the lender;</p></li>
                <li><p>Pertinent information concerning all encumbrances which constitute liens against the securing property and, to the extent of actual knowledge of the broker, pertinent information about other loans that the borrower expects or anticipates will result in a lien being recorded against the property securing the promissory note to be created in favor of the prospective lender. Actual knowledge with respect to any anticipated or expected loan, means knowledge gained by the broker through arranging that other loan or receipt of written notification of that other loan. The broker must also provide to the prospective lender the option to apply to purchase a title insurance policy or an endorsement to an existing title insurance policy covering the securing property, and a copy of a written loan application, and a credit report;</p></li>
                <li><p>Provisions for servicing of the loan, if any, including disposition of the late charge and prepayment penalty fees paid by the borrower;</p></li>
                <li><p>Detailed information concerning any proposed arrangement under which the prospective lender along with persons not otherwise associated with him or her will be joint beneficiaries or obligees;</p></li>
                <li><p>A detailed statement of the intended use and disposition of the funds being solicited including an explanation of the nature and extent of the benefits to be directly or indirectly derived by the broker; and</p></li>
                <li><p>If the broker's activities in residential mortgage lending trigger the high volume threshold or the broker claims exemption from securities qualification for transactions involving sales of a series of notes secured by the same real property, or undivided interests in the same note secured by real property, to not more than 10 qualified investors, a statement that the broker has a responsibility to make reasonable efforts to determine that the loan is a suitable and appropriate investment for the lender, based on information provided by the lender regarding the lender's financial situation and investment objectives.</p></li>
                </ul><p><a href="{{ site.data.navigation.citation.link | relative_url }}">Cal. Bus. &amp; Prof. Code § 10231.2(b)</a>, <a href="{{ site.data.navigation.citation.link | relative_url }}">Cal. Bus. &amp; Prof. Code § 10232.5(a)</a>.</p><p>The statement must be signed by the prospective lender or purchaser and by the real estate broker or, on the broker's behalf, by a real estate salesperson licensed to the broker. When so executed, an exact copy of the executed statement must be given to the prospective lender or purchaser, and the broker must retain a true copy of the executed statement for 4 years. <a href="{{ site.data.navigation.citation.link | relative_url }}">Cal. Bus. &amp; Prof. Code § 10231.2(b)</a>.</p>
            </div>
        </div>
        <div class="d-table-row">
            <div class="d-table-cell">
                <span class="fw-bold">Timing</span>
            </div>
            <div class="d-table-cell">
                At least 24 hours before the earlier of the acceptance of any funds from that person by or on behalf of the broker or the execution of any instrument obligating the person to make the loan or purchase. <a href="{{ site.data.navigation.citation.link | relative_url }}">Cal. Bus. & Prof. Code § 10231.2(b)</a>.
            </div>
        </div>
    </div>
</div>
