h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    a {
        color: var(--bs-gray-900);
        text-decoration: none;

        &:hover {
            color: var(--bs-primary);
            text-decoration: underline;
        }
    }
}